
body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;  

}
html,  body { 
  height: 100%;
}
 
.app{
  background-image: url("./img/rr.jpeg");

  background-repeat: no-repeat;
  background-size:100% 100%;
  background-attachment: fixed; 
}
#root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
  background-image: url("./img/rr.jpeg");
  
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-attachment: fixed; 
 
  
}



.list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

}

.single-card{
  width: 320px;
  padding: 20px;
  border: 1px solid #c9c9c9;
  background-color: purple;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; 
}

.btn{
  background-color: blueviolet;
  color: white;
  width: 150px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 80px;
  

 
  
}

nav {
  padding: 0 1rem;
  margin-bottom: 20px;
  background-color:black;
 

}

.link{
  margin: 15px;
  color: white;
  font-size: 21px;
  
  background-color: purple;
  box-shadow: 0 3px #1a2369 ;

}

.link:hover
{
  background-color:rebeccapurple;
}

.btn:hover{
  background-color:#404ca7;
}

.active{
  color:purple;
  background-color:white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}
.vehicle-heading {
  color: white; 
}
.bg{
  background-image: url("./img/stars.jpg");
  
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;

}
.card:hover{
  box-shadow: 0 8px 50px 0 rgba(226, 123, 244, 0.2);
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

*{
  color: white;
}
.film-card {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  background-color:rgba(0, 0, 0, 0.818);
}

.film-info {
  margin-bottom: 10px;
}

.film-details {
  display: flex;
 
}
.column {
  flex: 1; 
  margin-right: 10px; 
}

.category-title {
  font-weight: bold;
  margin-bottom: 10px;
}









